/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f8bbd0; /* Rosado muy claro */
    margin: 0;
    padding: 0;
    color: #495057; /* Grisáceo oscuro para mejor legibilidad */
}

.container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff0f5; /* Rosado pálido */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #c2185b; /* Rosado más intenso para el título */
}

/* Estilos del formulario */
.devolucion-form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #880e4f; /* Rosado oscuro para las etiquetas */
}

.devolucion-form input[type="number"],
.devolucion-form input[type="text"],
.devolucion-form select,
.devolucion-form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ecd4dc; /* Borde rosado claro */
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fff; /* Fondo blanco para los inputs */
    color: #495057; /* Texto grisáceo oscuro */
}

.devolucion-form textarea {
    resize: vertical;
}

.devolucion-form button[type="submit"] {
    background-color: #e91e63; /* Rosado llamativo para el botón */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease; /* Transición suave */
}

.devolucion-form button[type="submit"]:hover {
    background-color: #d81b60; /* Rosado un poco más oscuro al pasar el mouse */
}

/* Estilos específicos para el botón */
.btn-procesar {
    background-color: #e91e63;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn-procesar:hover {
    background-color: #d81b60;
}
.btn-volver {
    background-color: #6c757d; /* Gris */
    color: rgb(145, 238, 116);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-left: 10px; /* Espacio entre los botones */
}

.btn-volver:hover {
    background-color: #5a6268; /* Gris más oscuro al pasar el mouse */
}