body {
    background: linear-gradient(to right, #fcf193, #fdcdfa, #f8a2de);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.contenedor {
    width: 60%;
    margin: 40px auto;
    background: #ffffff;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(255, 150, 185, 0.3);
    border: 2px solid #ffb3d9;
}

h2 {
    text-align: center;
    color: #d63384;
    margin-bottom: 20px;
    font-size: 26px;
}

label {
    font-weight: bold;
    color: #b30059;
}

input,
select {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ff99cc;
    background: #fff7fb;
    font-size: 15px;
}

input:focus,
select:focus {
    outline: none;
    border-color: #ff4da6;
    box-shadow: 0 0 5px rgba(255, 90, 150, 0.5);
}

/* Contenedor centrado */
.contenedorBotones {
    display: flex;
    justify-content: center;  /* centra horizontal */
    gap: 15px;                /* espacio entre botones */
    margin-top: 20px;
}

/* Clase general para ambos */
.btn {
    width: 180px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

/* Botón Guardar */
.btnGuardar {
    background: #ff0080;
    color: white;
}

.btnGuardar:hover {
    background: #e60073;
}

/* Botón Volver */
.btnVolver {
    background: #444;
    color: white;
}

.btnVolver:hover {
    background: #222;
}



/* Sobrescribir Bootstrap */
.btn-primary {
    background: #ff0080 !important;
    border: none;
}

.btn-primary:hover {
    background: #e60073 !important;
}

.form-control {
    border-radius: 8px;
    border: 1px solid #ff99cc;
}

