*{
    padding: 80;
    margin: 80;
    box-sizing: border-box;
    
}
body {
    background: linear-gradient(to right, #fcf193, #fdcdfa, #f8a2de);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    color: blue;

}
img{
    width: 15%;
    height: 15%;
    display: block;
    margin: 10px auto;
    border-radius: 50%;
    border: grey 2px solid;
}
form{
    width: 350px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  border: black 1px solid;
  border-radius: 15px;
  font-size: 14px;
  transition: border 0.3s, box-shadow 0.3s;
}



#login {
  width: 50%;
  padding: 10px;
  margin: 10px auto;
  display: flex;
  align-items: center;
  background: #4a90e2;
  color: black;/*color de texto*/
  font-size: 15px;
  border: black 1px solid;
  border-radius: 15px;
  cursor: pointer;
  transition: background 0.3s;
}

#login:hover {
  background: burlywood;
}