body {
    font-family: Arial;
    background: #fde9f3;
    padding: 20px;
}
.btnVolver {
    display: inline-block;
    padding: 10px 15px;
    background: #f7b9d5; /* Rosa claro */
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
    margin-bottom: 15px;
    transition: 0.3s ease;
}

.btnVolver:hover {
    background: #e48eb8; /* Rosa más intenso */
}

.titulo {
    text-align: center;
    font-size: 30px;
    color: #b02e6a;
    margin-bottom: 25px;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.caja {
    background: white;
    padding: 20px;
    border-radius: 10px;
    border-left: 6px solid #ff9dcf;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.15);
}

.caja h3 {
    margin-bottom: 12px;
    color: #c94e8a;
}

.item {
    background: #ffe1f1;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    border-left: 4px solid #ff8ac7;
}

.vacio {
    color: #777;
    font-style: italic;
}

.alerta {
    border-left: 6px solid red;
}

@media (max-width: 900px) {
    .contenedor {
        grid-template-columns: 1fr;
    }
}
